# **9. Закрепление знаний**

✍ Настало время закрепить свои знания финальным заданием.
В его решении вам поможет скринкаст, в котором мы собрали самые важные моменты модуля ↓
Далее вам предстоит проанализировать данные о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения.
Задачи такого плана очень часто встречаются на технических собеседованиях, где проверяют навыки владения библиотекой Pandas.
Скачать датасет в формате csv можно здесь (csv-файл находится в zip-архиве — распакуйте архив, прежде чем продолжать работу!)
Информация о столбцах таблицы:
**student_data.head()**
 
-	gender — пол;
-	race/ethnicity — раса/этническая принадлежность;
-	parental level of education — уровень образования родителей;
-	lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
-	test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
-	math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.
Вам необходимо прочитать эти данные в DataFrame с именем student_data и ответить на следующие вопросы ↓

In [4]:
import numpy as np

In [5]:
import pandas as pd

*Задание 9.1*

Данные о скольких студентах содержатся в таблице?  (Количество студентов, сдававших экзамен, — это число строк в DataFrame.) (1000)

In [6]:
student_data = pd.read_csv('Py10/data/students_performance.csv')
student_data.shape[0]

1000

*Задание 9.2*

Каков балл по письму у студента под индексом 155?  (Для получения информации о студенте под индексом 155 можно использовать loc)
(88)

In [7]:
student_data.loc[155, 'writing score']

88

*Задание 9.3*

Сколько суммарно пропущенных значений в таблице?  (Количество непустых значений в таблице можно посмотреть с помощью метода info())
(0)

In [8]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

*Задание 9.4*

Сколько столбцов в таблице имеет тип данных object?  (Количество столбцов с данными определённого типа можно вывести с помощью метода info())
(5)

In [9]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

*Задание 9.5*

Какой объём памяти (в килобайтах) занимает таблица?
Округлите ответ до целого числа.
(Объём памяти, занимаемый таблицей, можно узнать с помощью метода info())
(63)

In [10]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

*Задание 9.6*

Каков у студентов средний балл по математике?
(Средний балл студентов по математике можно найти с помощью агрегирующего метода mean() или метода describe())
(66)

In [11]:
int(student_data['math score'].mean())

66

*Задание 9.7*

Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, F).
(Наиболее распространённую группу можно найти с помощью метода mode() или метода describe())
(c)

In [12]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

*Задание 9.8*

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам? 
( Необходимо произвести фильтрацию таблицы по условию посещения курсов student_data['test preparation course'] == 'completed', а затем вычислить средний балл)
(74)

In [13]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

*Задание 9.9*

Сколько студентов получили 0 баллов по математике?  (Необходимо произвести фильтрацию по условию student_data['math score'] == 0 и найти число строк в таблице)
(1)

In [14]:
student_data[student_data['math score'] == 0].shape[0]

1

*Задание 9.10*

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
Округлите ответ до целого числа.
(Необходимо произвести две различные фильтрации:
Найти средний балл по математике у студентов с оплачиваемым питанием.
Найти средний балл по математике у студентов с льготным питанием)
(70)

In [18]:
student_data[student_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [19]:
student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

*Задание 9.11*

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
Округлите ответ до целого числа.
Не указывайте знак %.
(Для решения этой задачи можно воспользоваться методом value_counts() с параметром normalize=True для столбца parental level of education (уровень образования родителей). Данный метод выводит долю каждого уникального значения в столбце от общего количества наблюдений)
(12)

In [16]:
student_data["parental level of education"].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

*Задание 9.12*

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
Округлите ответ до целого и запишите модуль этого числа.
(Для решения этой задачи необходимо произвести две фильтрации и вычислить медианное и среднее значения в столбце writing score)
(6)

In [17]:
a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
b = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(a - b)))

6